apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: minio-tenant
  namespace: argocd
spec:
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
  project: default
  source:
    repoURL: https://github.com/creed-braton/homelab.git
    targetRevision: cluster
    path: minio-tenant
  destination:
    server: https://kubernetes.default.svc
    namespace: minio-tenant
