apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: minio-operator
  namespace: argocd
spec:
  syncPolicy:
    automated:
      selfHeal: true
      prune: true
    syncOptions:
      - CreateNamespace=true
  project: default
  source:
    chart: operator
    repoURL: https://operator.min.io/
    targetRevision: 7.1.1
    helm:
      releaseName: operator
  destination:
    server: "https://kubernetes.default.svc"
    namespace: minio-operator
